[2012-08-16 22:16] kilianc opened #1 "App wrapper"

[2012-08-16 22:17] kilianc opened #2 "Connection drops"

[2012-08-16 22:20] kilianc opened #3 "Fix back and forth layers position/drag"

[2012-08-16 22:21] kilianc opened #4 "Multi-style paragraph parsing"

[2012-08-16 22:25] kilianc opened #5 "Layer ID API"
Implement a way to get the layer ID trough the DOM API

[code]

[2012-08-16 22:26] kilianc opened #6 "Bitmap streaming API integration"

[2012-08-16 22:26] timriot opened #7 "Dedicated, independent server outside of Remote Connections for ML"
Problems:
 Connection setup is a pain and requires several additional steps
 API to setup a password?

Questions:
 If this is for local machines only, why can't we have a separate, unencrypted server that is tied to localhost only and will not allow remote connections.

[2012-08-17 05:46] kilianc opened #8 "Bitmap streaming API"
This API should allow a client connected to the PS JS Server, to get a group/layer flattened rapresentation in the provided format, following the provided format options.

The request will carry an options dictionary like the following one

[code]

The first version of this API will support only the `"bitmap"` format name. No additional options are needed.

This API should be non blocking, in orde

[2012-08-17 05:47] kilianc opened #9 "UI refactoring"

[2012-08-17 05:50] kilianc opened #10 "Publish / Subscribe API"
The following new _events_ should be published from photoshop following this table:

<table width="100%">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Event Trigger</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>layer.new</td>
            <td>Triggered when a new layer is created</td>
        </tr>
        <tr>
            <td>layer.rename</td>

[2012-08-17 05:51] kilianc opened #11 "Publish / Subscribe API Integration"

[2012-08-22 23:27] isonno commented on #5
Hi Kilian,
Here's an example of how to extract the layer info (including the ID & index) from a Photoshop DOM layer.  The rest of the info you should be able to get from the DOM.

[code]

[2012-08-23 02:38] kilianc commented on #5
Yep, I got it!
The only thing is that the layer name is not guaranteed to be unique.

In this specific case we are enumerating so I just used some of your examples to solve the problem, even if not perfect at least is working now.

[2012-08-23 22:02] kilianc commented on #10
@TomRuark I just added fill and opacity, I think that these 2 events should be a part of those "easy to implement". Can you confirm that?

[2012-09-01 00:23] kilianc commented on #5
fixed.

[2012-09-01 00:23] #5 closed, assigned to nobody

[2012-09-01 11:10] kilianc opened #12 "Cannot access Document.name if not saved."
Hi @TomRuark @isonno,
is there any chance to get the doc name even if has never been saved (a new one)?

Document name should be available instantly, I choose it in the new document dialog :lollipop:

[code]

[2012-09-02 01:07] kilianc commented on #2
@timriot I am digging deeper, the connection randomly drops with

**Communication Status:** 2
**Body:** Error handling network message

More and more this sounds really weird to me and I already double checked my code.

[2012-09-02 03:45] kilianc commented on #12
I think the problem is `app.activeDocument.path` not `app.activeDocument.name`

[2012-09-02 03:45] #12 closed, assigned to TomRuark

[2012-09-02 07:48] #2 closed, assigned to kilianc

[2012-09-02 07:49] kilianc commented on #3
no longer required.

[2012-09-02 07:49] #3 closed, assigned to kilianc

[2012-09-06 20:41] kilianc commented on #1
Almost working on 22b765ab749d044a19b429574e6066ed78983579

[2012-09-06 20:43] kilianc opened #13 "Move Mac App into the repository"
The repository will become an App repository.

[2012-09-06 20:52] kilianc opened #14 "Send assets over the socket as base64 data url"
The user is allowed to change document and connect to different PS servers. That means that in order to save assets to the disk we must ask for a working directory for each psd file and the actual state of the project is not ready for that.

Sending assets over the socket is less performant if a local-storage/indexDB caching system is not implemented (not scheduled yet) but will allow motherlover

[2012-09-06 21:09] kilianc opened #15 "Export/Save html project"
I would like to open a discussion here about the possibles options we have to make the _export/save/ship_ happen. I think this is the most important part because we are producing files that devs are going to work on.

As discussed with @timriot during these months, the best scenario right now is a kind of template system, also using css preprocessors as [stylus](http://learnboost.github.com/stylus

[2012-09-10 04:50] timriot opened #16 "Shape layer parsing"
rectangles - fill color, fill gradient (linear/radial/angle), stroke color, stroke pixel width
ellipses - fill color, fill gradient (linear/radial/angle), stroke color, stroke pixel width
rounded-rects - fill color, fill gradient (linear/radial/angle), stroke color, stroke pixel width, radii

[2012-09-10 05:06] timriot opened #17 "App Wrapper: Check for the minimum Photoshop required for ML"

[2012-09-10 05:06] timriot opened #18 "App Wrapper: Bug tracking / Error reporting"

[2012-09-10 05:16] kilianc opened #19 "App wrapper: App icon"

[2012-09-10 05:21] timriot opened #20 "Name this thing"

[2012-09-10 05:22] timriot opened #21 "add libjpeg.dylib to the bundle"

[2012-09-10 21:06] timriot opened #22 "check licenses for all libraries"
I need to get a list of the all the libraries we currently use, as well as any that we plan to use, from @kilianc. From there, I will confirm that we can distribute the libraries with a commercial product.

[2012-09-10 22:37] kilianc commented on #22
Libraries involved so far:

**nodejs area (https://npmjs.org/package/<packagename>)**
- nodejs
- node-canvas
- socket.io
- express
- bufferjoiner
- rimraf
- mocha
- chai
- freeport

**various libs**
- [cairo](http://www.cairographics.org/) (libjpg, libpng)
- [json3](http://bestiejs.github.com/json3/)

**clientside libs**
- jquery
- [greensock tweenlite](http://www.greensock.com/)
- [async](https:/

[2012-09-10 22:40] timriot opened #23 "App Wrapper: links"
## Button Name - URL

Tonight - http://www.youtube.com/watch?v=Sv6dMFF_yts
Chuck - http://www.youtube.com/watch?v=sZz2yCe3pIg
Have you? - http://www.youtube.com/watch?v=J-Q4AkJ9iIU
The word - http://www.youtube.com/watch?v=2WNrx2jq184
Hey Girl - http://siliconvalleyryangosling.tumblr.com/
Whatever - http://assets0.ordienetworks.com/images/GifGuide/DealWithIt/bieberdealwithit.gif
Dayum - http://www

[2012-09-10 22:47] kilianc commented on #23
done.

[2012-09-10 23:10] #17 closed, assigned to kilianc

[2012-09-10 23:34] timriot commented on #22
Libraries involved so far:

**nodejs area (https://npmjs.org/package/<packagename>)**
- nodejs - https://github.com/joyent/node/blob/master/LICENSE#L5-22
- node-canvas - https://github.com/LearnBoost/node-canvas#license
- socket.io - https://github.com/LearnBoost/socket.io#license
- express - https://github.com/visionmedia/express#license
- bufferjoiner - https://github.com/kilianc/node-bufferjoin

[2012-09-11 00:09] timriot commented on #22
Next step is to send this to legal.

[2012-09-11 00:16] timriot opened #24 "remove freeport lib to avoid stupid Apache 2 license"

[2012-09-11 00:24] timriot opened #25 "remove greensock tweenlite library, for licensing and other reasons"

[2012-09-11 00:28] timriot commented on #15
.ml JSON file to config asset folder (by default this is in the same directory as the PSD).

The configuration mechanism will search in the following directories and z-order:

/project (IE where the PSD exists on launch of the browser)
/user home directory
/app folder (a la presets)
/app bundle

[2012-09-11 00:35] timriot opened #26 "Write template system to support user defined codestyles"
HTML boilerplate
Less templates
JS templates

[2012-09-11 00:40] timriot opened #27 "Need "Photoshop server is down" page to be displayed in the browser."
Show available servers and allow connection via web page, similar to app wrapper.

[2012-09-11 00:45] timriot opened #28 "Code view"

[2012-09-11 00:45] #9 closed, assigned to kilianc

[2012-09-11 00:48] timriot opened #29 "Figure out how to use gadget"

[2012-09-11 00:51] timriot commented on #20
LivePSD
LiveHTML5
CSSPreview
HTML5Preview

[2012-09-11 00:52] #1 closed, assigned to kilianc

[2012-09-11 06:11] timriot opened #30 "Retina asset generation"
Maybe we could figure out a way to create an upscaled/downsampled version of assets as well?

[2012-09-11 06:15] kilianc commented on #30
We need to talk with some UI designer and ask what is the common pattern. I think upscaling is kinda useless.

The trigger could be the name of the layer, if you name it `logo@2x` means that you need the downscaled version too. Also some kind of auto sharp could be cool!

[2012-09-11 06:17] timriot commented on #30
i would never upscale, but i'm sure someone does. meanwhile, the downsampling totally sounds useful.

BTW, i am working on autosharpening, RIGHT NOW.

[2012-09-11 06:22] timriot commented on #20
CSSmuggler
DubCSS
CSStep
PSDMarkup
PSDStyles

[2012-09-11 06:32] timriot commented on #20
CSSGenerator
Generator

[2012-09-11 06:32] kilianc commented on #20
LiveMarkup
CSS (playing with CS*)

[2012-09-11 06:33] timriot commented on #20
Markup...LIVE!

[2012-09-11 06:37] kilianc opened #31 "Text transformations don't affect text size value"
For instance, I created a text layer and the value was on 2.2pt, then I used cmd+t to scale it proportionally.
The photoshop UI is showing me the right value, the layer descriptor not.

[code]

@isonno, @TomRuark should I apply the matrix manually?

[2012-09-11 06:39] kilianc commented on #30
I love when things happen **RIGHT NOW** :facepunch: :clap:

[2012-09-11 06:40] kilianc commented on #23
https://github.com/kilianc/motherlover/blob/macapp/Motherlover/Classes/MLAppDelegate.m#L21

done.

[2012-09-11 06:40] #23 closed, assigned to timriot

[2012-09-11 06:44] kilianc commented on #13
f04c13640848739bf960a713b7384f847becccfb

[2012-09-11 06:44] #13 closed, assigned to kilianc

[2012-09-11 06:52] timriot commented on #31
From what I've heard, this is how it actually works under the hood, IE they maintain the original point size value, then multiple that value times the transform and display the appropriate pt size in the UI. WHY, is anyone's guess.

[2012-09-11 07:20] timriot commented on #20
GenerateCSS
AutomatiCSS
Switcharoo
The Second Best Idea that we've ever had
MyWaffle

[2012-09-11 22:40] kilianc commented on #4
@isonno @TomRuark just found a bug on the testLayer.

Basically if you never set the `hyphenate` of a textfield `paragraphStyle.hasKey(stringIDToTypeID('hyphenate'))` returns false, if if the UI says yes. after setting it it becomes true.

That means that I have to double check before getting the value.

[2012-09-11 22:41] kilianc commented on #4
[code]

[2012-09-11 23:54] kilianc opened #32 "Load ES5 polyfill at every script run."
https://github.com/kriskowal/es5-shim

[2012-09-12 00:02] kilianc commented on #4
progress here: https://github.com/kilianc/motherlover/commits/textlayer

[2012-09-12 00:10] kilianc commented on #31
Well, closing as **wontfix**

The way PS works is multiplying the yy value for the size value. I think using a delta xx-yy as transform css property I can make the text look the same as PS.

[2012-09-12 00:10] #31 closed, assigned to nobody

[2012-09-12 02:22] #21 closed, assigned to kilianc

[2012-09-12 08:55] kilianc commented on #4
@timriot this is what I can do http://www.w3.org/TR/css3-text/, I just want you to be aware of what the standard is allowing.

[2012-09-13 00:45] kilianc opened #33 "Photoshop creates duplicates textStyleRanges"
textStyleRange[1] and textStyleRange[2] are identical and that means that I can not loop through the styles array... any thoughts? @isonno @timriot @tomwmcrae

Here the dump:

[code]

[2012-09-13 02:16] kilianc opened #34 "Remove canvas boundaries from frontend"

[2012-09-13 03:44] kilianc opened #35 "Layer styles parser + frontend integration"

[2012-09-13 03:44] kilianc opened #36 "Rounded rect / Ellipses parser"

[2012-09-13 03:47] kilianc opened #37 "Path to SVG parser"
First step for SVG embedding as base64 data url

[2012-09-13 04:23] kilianc commented on #4
Laned on 97aba3ebb923e9ed26fa6edd362a376415e61756.
Needs test and progressive enhancement.

[2012-09-13 05:14] #34 closed, assigned to kilianc

[2012-09-13 05:18] #4 closed, assigned to kilianc

[2012-09-13 05:22] #19 closed, assigned to timriot

[2012-09-13 05:23] kilianc opened #38 "Create README.md with build instruction"

[2012-09-13 18:14] kilianc opened #39 "Connected icon"
When motherlover is connected to a PS server the icon should be different.
Also, I was thinking about opening the browser automatically, @timriot ?

[2012-09-13 19:27] kilianc opened #40 "Skip empty textLayers"

[2012-09-13 20:11] timriot opened #41 "Textlayers in CSS representation are truncated."

[2012-09-13 20:17] timriot commented on #36
Waiting for new layer metadata DOM changes, which includes radii information. This is currently on Jeffery Cohen's plate... The problem with using the method that John P uses in Copy CSS is that that code requires the target layer to be active before it works.

[2012-09-13 20:25] kilianc commented on #14
In order to do it once, I need the new streaming API

[2012-09-13 20:47] timriot commented on #39
Opening the browser automatically would be awesome, so long as there isn't a significant lag when loading PSDs for the first time, as we saw in the test we performed. If there is a lag, would it be possible to launch the browser without bringing the window forward, so that the loading process could begin without making it clear that there is a lag?

[2012-09-13 20:53] #41 closed, assigned to kilianc

[2012-09-13 21:17] #40 closed, assigned to kilianc

[2012-09-13 21:26] #25 closed, assigned to kilianc

[2012-09-13 21:38] #24 closed, assigned to kilianc

[2012-09-17 17:42] kilianc opened #42 "Add support for letter-spacing and line-height"

[2012-09-17 20:29] kilianc opened #43 "Add basic groups support"
Support groups as containers of layers.

[2012-09-17 22:25] kilianc opened #44 "Keychain doesn't update service password"

[2012-09-18 19:59] kilianc opened #45 "Deck with explanation + long term vision of the project."

[2012-09-18 22:27] timriot opened #46 "User research request: Round tripping, IE reading HTML5 into PSD"

[2012-09-18 22:28] kilianc commented on #46
You mean, html to psd?

##

Kilian C.

On Tuesday, September 18, 2012 at 3:27 PM, Tim Riot wrote:

[2012-09-18 22:31] timriot commented on #46
html + css into PSD, yeah. crazy as it may sound.

[2012-09-18 22:32] kilianc commented on #46
you can do it, I can not see why you should :)

##

Kilian C.

On Tuesday, September 18, 2012 at 3:31 PM, Tim Riot wrote:

[2012-09-19 21:58] timriot opened #47 "Plugin System"
Input of the plugin is the DOM, plugin is triggered by various data combinations and can run in succession or can behave like a breakpoint, stopping execution of the plugin chain.

Plugins can be both developed internally and by the public.

Example Plugins -

iPhone Preview plugin:
Multiple web page plugin:
Icon rasterization plugin:

[2012-09-20 01:55] timriot opened #48 "Fix Font Transformation Matrix"
Currently font transformation matrix is not working.

[2012-09-23 02:51] timriot opened #49 "Support multi-resolution tags (CSS4 spec)"
http://dev.w3.org/csswg/css4-images/

[2012-09-26 07:49] timriot commented on #15
homepage.psd
homepage html5/
                      ../index.html
                      ../imgs/
                      ../css/
                      ../js/

[2012-09-26 07:55] timriot opened #50 "Take generator to SXSW - http://sxsw.com"
Bring the party to the people

[2012-09-29 23:52] timriot opened #51 "Checkout the Reflow source code on github (via triot) and discern what it would take to get ML and Reflow talking"
Since we're blocked on a lot of other fronts, this seems like a decent use of your time. What do you think, Kilian?

[2012-09-29 23:53] kilianc commented on #51
Seems like a good idea actually.
Any update on that front?

##

Kilian C.

On Sunday, September 30, 2012 at 1:52 AM, Tim Riot wrote:

[2012-09-29 23:55] timriot commented on #51
I haven't heard back. I'll pull the source if I can figure out how to do that through the stupid Adobe enterprise version of github.

[2012-09-30 00:06] kilianc commented on #51
`git clone [url]`

P.S. isn't that exactly the same as github?

##

Kilian C.

On Sunday, September 30, 2012 at 1:55 AM, Tim Riot wrote:

[2012-09-30 01:43] timriot commented on #51
the process is the same, sure, but the crazy authentication method they use seems to make using things like tower or the CLI very difficult.

[2012-10-01 08:36] kilianc opened #52 "ETA for new PS API."
Still waiting for some sort of estimate time.

[2012-10-03 03:57] timriot commented on #52
I'm working on this right now. I've got a meeting with Tim Wright to talk about this tomorrow.

[2012-10-04 21:28] timriot commented on #8
Question from Tom R - Are we expecting a bitmap object which represents a composite of several layers (group) to also include positioning information or are we going to want to figure that out ourselves. I am assuming we will want to receive the pixels, as well as the positioning info. Let me know and I'll forward along.

[2012-10-04 22:39] kilianc commented on #8
We don't need position data, we just need the bounds cropped bitmap. It's a separate call on a different layer than the DOM one.

##

Kilian C.

On Thursday, October 4, 2012 at 11:28 PM, Tim Riot wrote:

[2012-10-04 22:54] timriot commented on #52
Current ETA for an initial stab is next Friday.

[2012-10-05 01:10] timriot opened #53 "Add a Confidence level so that Photoshop can indicate how much it thinks it's lying about the representation in PS versus the HTML5 output"
Maybe as an easter egg API call or something like that. This internal rating might be useful for us to track, as well. Maybe there could be some sort of overlay mode in the browser that would highlight areas of great variance between the PSD and HTML5?

[2012-10-05 01:11] timriot commented on #51
I've sent Kilian the source for reflow... closing.

[2012-10-05 01:11] #51 closed, assigned to kilianc

[2012-10-05 01:12] timriot commented on #27
Waiting until I can use Generator to design this.

[2012-10-05 01:31] timriot opened #54 "Make a sweet, animated logo in After Effects"

[2012-10-05 08:46] kilianc commented on #53
In 5.0 maybe :D

[2012-10-05 08:46] kilianc commented on #52
:facepunch: :clap:

[2012-10-06 01:35] timriot opened #55 "Start to define Generator API"
This is for both of us, really, but you more than me...

We need to figure out what this will look like.

[2012-10-06 01:36] timriot commented on #53
There's gonna be a 5.0, so we should get started early. ;]

On Fri, Oct 5, 2012 at 1:46 AM, Kilian Ciuffolo notifications@github.comwrote:

[2012-10-09 17:41] timriot opened #56 "Think of ways to integrate CSS FilterLab with Generator"
http://html.adobe.com/webstandards/csscustomfilters/cssfilterlab/

Got any ideas? I'm meeting with these folks on Friday to demo and start the conversation.

[2012-10-09 17:54] timriot opened #57 "Work on some sort of TypeKit integration"

[2012-10-11 09:09] kilianc commented on #57
I am working on some kind of artificial OAuth since TypeKit doesn't provide it (for now).
I did it, but I am not sure it is the right approach. At the end of the day people will store they tokens inside their configuration files...

A token copy paste from your typekit account imho is the right way.
We can use mac keychain to store it.

The other way is to ask for username/password every time gene

[2012-10-11 09:12] kilianc commented on #56
Not really, it seem a css filter preview to me, maybe a widget for inline editing?

[2012-10-11 09:13] kilianc commented on #52
Still true that we will get the build on Tue/16th?

[2012-10-11 09:15] kilianc commented on #50
:beer:

[2012-10-11 09:15] kilianc commented on #46
How should we consider this? imho closed.

[2012-10-12 00:57] timriot commented on #57
This is quite exciting! Can you look into how auth tokens are stored on Windows (ick, I know)?

[2012-10-14 01:02] timriot commented on #57
Followed up with Typekit engineering manager, Ryan Carver, to provide status, hook him up with Kilian, etc. Meeting with Jeff Veen tentatively scheduled for Thursday of next week.

[2012-10-14 01:03] timriot commented on #52
From what I understand, we should get a proper build by 10/16.

[2012-10-14 01:04] timriot commented on #29
This may be supplanted by a TypeKit browser extension. We'll see.

[2012-10-17 02:33] timriot commented on #16
what are we blocked on, specifically, for this one?

[2012-10-17 02:34] timriot commented on #36
radii information should be in the DOM soon. I should talk to Tom R / John about integrating this code into their branch.

[2012-10-17 02:43] timriot commented on #14
New streaming API in place... unblocking.

[2012-10-17 02:44] timriot commented on #52
should be in now. I've uploaded the latest build to Kilian.

[2012-10-17 02:45] #52 closed, assigned to timriot

[2012-10-17 02:46] timriot commented on #57
Spoken with the TypeKit guys. They are into the idea of using a browser extension to add TypeKit support. Need to follow up with Kristofer re: this.

[2012-10-17 02:57] timriot commented on #57
Email sent. Waiting to hear back.

[2012-10-18 12:42] kilianc opened #58 "Investigate behavior on layer/group to smartobject"
Does it create a new layer?
In this case the old layerId is gone and we have to act like a layer delete+create.

[2012-10-18 13:51] kilianc opened #59 "Add array support to Photoshop.subscribe"
This will save tons of time on bootstrap.
Multiple events, single kevlar call.

[2012-10-19 07:18] timriot commented on #45
Bob Walton has something that will serve this purpose. I will ask for the deck

[2012-10-19 07:41] timriot opened #60 "How will ML be embedded in Photoshop (Mac & Win)?"
I will speak to Tom R, John P, & Jeffrey C to see what our options are.

[2012-10-19 07:42] timriot commented on #7
I will begin looking into this much more deeply.

[2012-10-19 07:43] kilianc commented on #60
Also, investigate how node-canvas compiles on windows.

##

Kilian C.

On Friday, October 19, 2012 at 9:41 AM, Tim Riot wrote:

[2012-10-19 07:44] kilianc commented on #7
We don't even need tcp. We just need some kind of bridgetalk + kevlar.

##

Kilian C.

On Friday, October 19, 2012 at 9:42 AM, Tim Riot wrote:

[2012-10-19 07:45] timriot commented on #60
Looks like it works!

https://github.com/LearnBoost/node-canvas/wiki/Installation---Windows

On Fri, Oct 19, 2012 at 12:43 AM, Kilian Ciuffolo
notifications@github.comwrote:

[2012-10-19 07:45] timriot commented on #60
I'm going to rename this issue to check out node-canvas and assign this to
you. Is that cool?

On Fri, Oct 19, 2012 at 12:45 AM, Tim Riot timriot@gmail.com wrote:

[2012-10-19 07:46] timriot commented on #7
Word. There _must_ be a way.

-Tim

On Fri, Oct 19, 2012 at 12:44 AM, Kilian Ciuffolo
notifications@github.comwrote:

[2012-10-19 07:48] kilianc commented on #60
Yeah, it has to, otherwise start searching the highest bridge around there and make the jump.

It's cool to rename the issue, but we need to talk with some build guy,
I don't know how this will be integrated/compiled and what are requirements on windows
to support this library (dynamic libs for examples)

##

Kilian C.

On Friday, October 19, 2012 at 9:45 AM, Tim Riot wrote:

[2012-10-19 07:50] kilianc commented on #60
How was [cairo](http://www.cairographics.org/) license?

##

Kilian C.

On Friday, October 19, 2012 at 9:48 AM, Kilian C. wrote:

[2012-10-19 07:55] timriot commented on #60
I didn't hear anything bad about the GPL2.1 license associated with cairo,
so I am assuming it's ok. I will follow up with the legal contact I have.

-Tim

On Fri, Oct 19, 2012 at 12:50 AM, Kilian Ciuffolo
notifications@github.comwrote:

[2012-10-19 07:56] timriot commented on #60
Sounds like it makes more sense for me to keep hold of this issue. I will
talk to a build dude about compiling/embedding all this crap.

On Fri, Oct 19, 2012 at 12:48 AM, Kilian Ciuffolo
notifications@github.comwrote:

[2012-10-19 15:30] kilianc opened #61 "Generate a in ram a stringIDToTypeID/stringIDToTypeID map on bootstrap"
We should cache the values use placeholders in jsx files (that will be compiled)

[code]

this will increase performance a bit.

[2012-10-22 23:11] #46 closed, assigned to kilianc

[2012-10-22 23:12] kilianc commented on #30
plugin.

[2012-10-22 23:35] kilianc commented on #14
not needed anymore, we have a working folder.

[2012-10-22 23:35] #14 closed, assigned to kilianc

[2012-10-23 01:51] timriot commented on #30
word.

On Mon, Oct 22, 2012 at 4:12 PM, Kilian Ciuffolo
notifications@github.comwrote:

[2012-10-23 19:35] TomRuark commented on #12
Yes. Stick a try/catch around that call and ??? do the right thing accordingly ???
try { a = activeDocument.path; } catch(e) { e.toString(); }

[2012-10-23 19:36] TomRuark commented on #12
HA! I now see that this is "closed the issue 2 months ago" guess I'm a bit late!

[2012-10-23 19:37] kilianc commented on #12
Yep ;)

BTW doesn't matter now, we don't need to access fs anymore.

##

Kilian C.

On Tuesday, October 23, 2012 at 9:36 PM, TomRuark wrote:

[2012-10-25 09:43] kilianc commented on #16
rounded-rects / radii also fill color pub/sub event

[2012-10-26 00:40] timriot commented on #16
Got it. Looks like layer.fill is already flagged on your list of things we
still need from the team.

I will ping the dude (Jeffrey) who's doing the rounded rect stuff.

On Thu, Oct 25, 2012 at 2:43 AM, Kilian Ciuffolo
notifications@github.comwrote:

[2012-10-26 09:54] kilianc commented on #59
Done, now it's 265ms instead of ~5000ms

[2012-10-26 09:54] #59 closed, assigned to kilianc

[2012-10-26 09:58] kilianc commented on #35
Waiting layer.boundsNoFx

Do we have an ETA on this? /cc @TomRuark @timriot

[2012-10-26 12:11] kilianc opened #62 "Make layernames uniques when they starts with a #"
Show an alert in ps, and rename the layer appending a random number at the end of the name.

@timriot how does it sound?

[2012-10-26 12:16] kilianc commented on #62
Also, they must to be unique if they are assets, so we need an unique table for *.format layers

[2012-10-28 23:35] #32 closed, assigned to kilianc

[2012-10-29 01:20] #48 closed, assigned to kilianc

[2012-10-29 13:37] kilianc commented on #44
https://github.com/soffes/sskeychain/issues/11

We can close this. Is a OSX bug with not signed app.

[2012-10-29 13:37] #44 closed, assigned to kilianc

[2012-10-29 13:38] kilianc commented on #60
any updates?

[2012-10-29 14:26] kilianc commented on #61
everything in [`sid2tid-map.json`](https://github.com/kilianc/motherlover/blob/develop/Motherlover/Resources/server/lib/sid2tid-map.json) will create a replaceable tag of the form `{sid2tid.KEY_VALUE}` usable in jsx files.

.jsx will be compiled at runtime an kept in ram.

**blazing fast**

:+1:

[2012-10-29 14:51] #38 closed, assigned to kilianc

[2012-10-29 15:27] kilianc commented on #58
Actual doc id is 35

[code]

[2012-10-29 15:34] kilianc commented on #58
So, when we will get the save event, we will be able to update the smart object bitmap representation. That's what we're going to support for 1.5.

**But** we could use smartobject like library objects with a css class in the very near future.

[2012-10-29 15:34] #58 closed, assigned to kilianc

[2012-10-29 16:56] kilianc commented on #42
After a couple of hours of infestigating :neckbeard:

I can say that it's impossible to replicate photoshop letter-spacing and line-height in css.
We have to be as close as we can, but we will never be te exact css copy of the css layer.

@timriot I need to talk to someone who knows how the text engine works, can you help me with that?

[2012-10-29 17:16] kilianc commented on #26
scheduled for tomorrow night

[2012-10-29 17:22] kilianc commented on #26
looking at https://github.com/yeoman/yeoman seems to cover almost everything...

[2012-10-29 18:08] kilianc commented on #61
Reopening this issue because of this:

[2012-10-29 19:08] timriot commented on #60
No updates, yet. Issues getting Cairo on dev machines, has kept this from
progressing. I will continue to work with John, Tom to get to a good place
this week.

On Monday, October 29, 2012, Kilian Ciuffolo wrote:

[2012-10-29 20:16] kilianc commented on #60
uhm. compiling cairo is an issue? we just need the dlyb.
mac or pc?

##

Kilian C.

On Monday, October 29, 2012 at 8:08 PM, Tim Riot wrote:

[2012-10-29 21:27] timriot commented on #60
Compiling cairo is part of the issue. Even with the dylib / instructions, I
couldn't get canvas to install without Cairo being compiled first. =\

-Tim

On Monday, October 29, 2012, Kilian Ciuffolo wrote:

[2012-10-29 21:30] kilianc commented on #60
Of course. read here: https://github.com/kilianc/motherlover/blob/develop/Motherlover/Resources/server/README.md

##

Kilian C.

On Monday, October 29, 2012 at 10:27 PM, Tim Riot wrote:

[2012-10-29 21:56] timriot commented on #60
Yeah, I followed these instructions and couldn't get it to work properly.
I'll spend some more time with in later today. Meanwhile, we will need to
embed node, as well.

-Tim

On Mon, Oct 29, 2012 at 2:30 PM, Kilian Ciuffolo
notifications@github.comwrote:

[2012-10-30 04:54] timriot commented on #60
Tried again.

I got the script working after I chased down all of the following dylibs
and put 'em in my ./dylib directory:

libX11.6.dylib
libXau.6.dylib
libXdmcp.6.dylib
libXrender.1.dylib
libcairo.2.dylib
libfontconfig.1.dylib
libfreetype.6.dylib
libjpeg.8.dylib
libpixman-1.0.dylib
libpng15.15.dylib
libxcb-render.0.dylib
libxcb-shm.0.dylib
libxcb.1.dylib

Stupid cairo and all it's dependencies.

[2012-10-30 08:23] kilianc commented on #60
can you try to remove everything but libjpg and libpng?

[2012-10-30 16:36] timriot commented on #60
that totally worked!

_forehead slap_

I will share this test bundle with the other devs.

-Tim

On Tuesday, October 30, 2012, Kilian Ciuffolo wrote:

[2012-11-29 10:33] kilianc opened #63 "Layer names with forward slashes ( / ) in their name cause a crash"
Example - layer name of "w/ whoa.png" results in:

[code]

[2012-11-29 10:48] kilianc opened #64 "Directory structure of [PSDName]/imgs/"
[code]

[2012-11-29 11:09] kilianc opened #65 "Report imagemagick dirty exit and don't crash."
We need to get stderr

[code]

[2012-11-29 11:33] timriot commented on #35
I think this is unblocked now, yes?

[2012-11-29 11:34] timriot commented on #6
unblocked, yeah?

[2012-11-29 11:34] kilianc commented on #35
it is ;)

[2012-11-29 11:34] timriot commented on #11
What remaining portions of this are missing?

[2012-11-29 11:35] kilianc commented on #6
unblocked, in-progress.

[2012-11-29 11:36] kilianc commented on #11
I can close this as soon as I merge the refactor branch into develop.

[2012-11-29 11:38] timriot opened #66 "renaming a layer with a tag causes a crash (ex. renaming "bill.jpg" to "ted.jpg")"
11/29/2012 03:32:20: {"message":"assetsPath is not defined","stack":"ReferenceError: assetsPath is not defined\n    at removeAsset (/Users/timriot/Desktop/Motherlover.app/Contents/Resources/server/server.js:169:21)\n    at Photoshop.ps.connect.ps.on.layer (/Users/timriot/Desktop/Motherlover.app/Contents/Resources/server/server.js:45:9)\n    at Photoshop.EventEmitter.emit (events.js:126:20)\n    at

[2012-11-29 11:39] kilianc commented on #66
I think you are using an old build, I fixed this yesterday.
Please confirm and close

[2012-11-29 11:43] timriot opened #67 "opt + dragging in the layers panel to create a copy of "layer1.png" creates "layer1.png copy", which breaks tagging. Tagging should be smart enough to still work in these cases."

[2012-11-29 11:46] kilianc commented on #67
I'll replace /Copy( [0-1]+)?$/

[2012-11-29 11:47] kilianc commented on #67
I mean internally :dancers:

[2012-11-29 11:49] timriot commented on #62
Hmm. This is an interesting question. I'm not sure that we should start changing names out from under people in the layers panel. I appreciate that we need unique asset names, though. Perhaps in the case where there are duplicates we could use z-order to generate a subtitle...

Given a Layers panel of:

Layer.png
Layer.png
Something Else.jpg
Layer.png

ML would output:

Layer_1.png
Layer_2.png
Som

[2012-11-29 11:51] timriot commented on #66
Drop me the latest again?

[2012-11-29 11:52] kilianc commented on #66
already there, isn't it?

##

Kilian C.

On Thursday, November 29, 2012 at 12:51 PM, Tim Riot wrote:

[2012-11-29 11:52] timriot commented on #11
Sweet

[2012-11-29 11:53] timriot commented on #6
DOPE

[2012-11-29 12:08] kilianc opened #68 "Tagged groups with no contents cause crashes, with no output."
The server just stops or nothing happens.

[2012-11-29 12:08] kilianc opened #69 "Tagged groups within other tagged groups product no output."
Nothing happens.

[2012-11-29 12:14] timriot opened #70 "Investigate PSL and potential cloud-collaboration workflows"
Talk to me in the coming weeks about getting a build of PSL so that we can whip up some prototypes for cloud-based collaboration.

[2012-11-29 12:15] kilianc opened #71 "Random crash on asset dump"
It seems that sometimes ps doesn't return the pixmap.
# investigating probably related to #68

[code]

[2012-11-29 12:22] kilianc commented on #68
can you drop me the latest cocoa client?
Photoshop goes to 100% cpu, I want to test it with another client.

[2012-11-29 12:56] kilianc opened #72 "Sublayers should trigger parent group dump"
Every layer inside a group has to invalidate the group other than itself when it changes.

[2012-11-29 13:43] kilianc commented on #66
closing for now, reopen if necessary.

[2012-11-29 13:43] #66 closed, assigned to kilianc

[2012-11-29 14:04] #63 closed, assigned to kilianc

[2012-11-29 14:04] #64 closed, assigned to kilianc

[2012-11-29 14:04] #67 closed, assigned to nobody

[2012-11-29 14:04] #69 closed, assigned to kilianc

[2012-11-29 14:45] kilianc commented on #71
Tested on an iMac without the developer suite (Snow Lion from App Store)
An it works with every file you dropped to me @timriot.

We need a p2p debug session.

[2012-11-29 16:07] kilianc opened #73 "Auto relaunch and connect on crash"

[2012-11-29 18:20] kilianc commented on #72
closed in 5be64ddae961415284b51547df144bbd9a5fc5e0

[2012-11-29 18:20] #72 closed, assigned to kilianc

[2012-11-29 22:13] timriot opened #74 "rename non-unique layer names with a z-order numeral appended to the layer name"

[2012-11-30 02:42] timriot commented on #71
operator error. I had the incorrect build.

[2012-11-30 02:42] #71 closed, assigned to kilianc

[2012-11-30 02:42] timriot commented on #68
I will pull this for you later tonight...

[2012-11-30 02:46] timriot commented on #62
K & I spoke about this and (if I recall correctly), we're going to auto rename non-unique layers in the layers panel when ML is launched, then output. "But where did all my non-unique layer names go?", say users... You're welcome.

[2012-11-30 02:50] timriot opened #75 "Tim W wants to know if he can remove the old event return types, since we now have JSON implemented."
What say you, Kilian?

[2012-12-01 08:24] timriot opened #76 "Some files take a really long time ( > 9mins ) to parse, resulting in the PS UI being blocked"
I think this straight up has to do with the parsing of the DOM and/or the extend script engine, because dumping a 2MB image from layout.psd took < 2 seconds once the initial connection with the document was established, which would lead me to believe that the streaming bitmap stuff is incredibly fast and not the issue.
#### SLOW SAMPLE FILES (full logs for 1 & 2, as well as all the sample files av

[2012-12-01 08:25] timriot opened #77 "Deleting tagged layers / groups does not delete the corresponding image"

[2012-12-01 08:25] timriot opened #78 "Changing the z-order of layers within a tagged group does not trigger a regeneration of the group image asset"
I have confirmed with pub sub that an event is sent when this happens.

[2012-12-01 08:26] timriot opened #79 "Editing a smart object does not trigger a regeneration of the group image asset"
I have confirmed with pub sub that an event is sent when this happens.

[2012-12-01 08:26] timriot opened #80 "Crash: When trying to add a new group"
11/30/2012 11:38:10: {"message":"Cannot call method 'split' of undefined","stack":"TypeError: Cannot call method 'split' of undefined\n    at Photoshop.parseLayer (/Users/timriot/Desktop/Motherlover.app/Contents/Resources/server/server.js:99:30)\n    at Photoshop.EventEmitter.emit (events.js:99:17)\n    at dispatchMessage (/Users/timriot/Desktop/Motherlover.app/Contents/Resources/server/lib/photos

[2012-12-01 08:27] timriot opened #81 "Crash: When grouping a series of layers together (by selecting layers and command + G)"
11/30/2012 11:43:33: {"message":"Cannot read property 'name' of undefined","stack":"TypeError: Cannot read property 'name' of undefined\n    at Photoshop.ps.connect.ps.on.layer (/Users/timriot/Desktop/Motherlover.app/Contents/Resources/server/server.js:41:24)\n    at Photoshop.EventEmitter.emit (events.js:126:20)\n    at dispatchMessage (/Users/timriot/Desktop/Motherlover.app/Contents/Resources/se

[2012-12-01 18:05] kilianc commented on #77
It does work on both my macbook and non dev iMac, can you attach the psd and the log?

[2012-12-01 18:07] kilianc commented on #76
I know. I'll work on speeding up the bootstrap process, but the bottleneck is photoshop sadly...
The only way we have is to ask for a new C++ API.

[2012-12-01 19:24] timriot commented on #76
Let's talk more about this before Monday. Now that we're getting closer to
having the API fleshed out, we can start pointing out the performance
issues.

If you have some specific suggestions for speed improvements, I will pass
them along and begin the conversation on Monday.

Wanna catch up sometime today or tomorrow?

-Tim

On Saturday, December 1, 2012, Kilian Ciuffolo wrote:

[2012-12-01 19:26] timriot commented on #77
I will re-test and put the problematic PSD here, if I am still able to
reproduce.

-Tim

On Saturday, December 1, 2012, Kilian Ciuffolo wrote:

[2012-12-01 19:29] timriot commented on #75
I suggest that the asset dumping branch be updated to work with the latest build (Gangnam style) before anything else, just to make sure no more bugs creeped in.

[2012-12-01 19:41] timriot commented on #57
TypeKit will be releasing a desktop application, which will make TK fonts available to all applications on the local system. ML will get access to these fonts for free.

[2012-12-01 19:41] #57 closed, assigned to timriot

[2012-12-01 19:41] timriot commented on #57
closing because this is happening outside of the scope of ML.

[2012-12-01 19:44] timriot commented on #56
I have spoken with these folks. They are very interested in developing output plugins for ML when that architecture is ready. Until then, there is nothing more to be done. Closing.

[2012-12-01 19:44] #56 closed, assigned to timriot

[2012-12-01 19:46] timriot commented on #50
Haven't heard back from Stephen on this. Will check in with him. This would be a huge opportunity for last minute customer feedback and networking before release.

[2012-12-01 19:49] timriot opened #82 "Auto-updating engine - Sparkle (Mac) / ??? (Win)"
It would be excellent if we could build an auto-updating feature into ML (via Sparkle?), so that our work could continue past the GM date of PS.

[2012-12-01 20:09] timriot commented on #76
Ok, super naive / weird question – Any chance that for bootstrapping we could ask PS for a memcopy of the DOM, completely circumventing the JS engine? No parsing, just give ML the DOM (as a JSON object, maybe?), then ML could process it outside of PS.

[2012-12-01 20:30] timriot commented on #77
Ok, so deleting layers sort of works in this file, unfortunately, right after deleting, ML crashes:

12/01/2012 12:24:17: {"message":"Cannot call method 'split' of undefined","stack":"TypeError: Cannot call method 'split' of undefined\n    at Photoshop.parseLayer (/Users/timriot/Desktop/Motherlover.app/Contents/Resources/server/server.js:99:30)\n    at Photoshop.EventEmitter.emit (events.js:126:20

[2012-12-01 20:32] timriot commented on #77
Here's a link to the PSD in question:

https://www.dropbox.com/s/ek8tdbpdbhoo7mb/shapes.psd

[2012-12-01 20:44] kilianc commented on #82
it's already there, I just need to push the update and test if it really works :)

##

Kilian C.

On Saturday, December 1, 2012 at 8:49 PM, Tim Riot wrote:

[2012-12-01 20:53] timriot commented on #82
yoooooou are the chaaampion
my friend!
aaaand yoooooou'll keep on fiiiighting
'til the end!
you are the champion
you aaaaare the champion
no time for losers
'cause yoooooou are the champion
(dunh dunh)
...of the woooorld!

On Saturday, December 1, 2012, Kilian Ciuffolo wrote:

[2012-12-03 01:34] timriot opened #83 "write a node-based auto-update engine"
This is Sparkle for node, in short.

[2012-12-03 01:34] timriot commented on #82
Closing as we are taking a different approach.

[2012-12-03 01:34] #82 closed, assigned to kilianc

[2012-12-03 15:15] kilianc commented on #68
100% positive it's PS.
I am now skipping empty groups.

[2012-12-03 15:15] #68 closed, assigned to kilianc

[2012-12-03 19:45] #77 closed, assigned to kilianc

[2012-12-03 19:47] kilianc commented on #80
fixed in d9b3b7407cd6ed453fac3e1df665a5190414b2e8

[2012-12-03 19:47] #80 closed, assigned to kilianc

[2012-12-03 20:03] kilianc commented on #79
Not sure...

There is a save event, being fired when you commit the smart object but, no documentId is passed :-1:

Do we really want do dump every time a user changes a smart object without the actual "commit"?
That would mean inconsistency between ps and ML.

[2012-12-03 20:25] kilianc commented on #81
Actually, cmd-g-ing layers doesn't trigger any event, I think that was related to another bug (fixed).
I'll keep this open as blocked.

[2012-12-03 20:26] kilianc commented on #78
This needs some tweak of the PS API.
Talking about this with TimW right now.

[2012-12-04 04:20] timriot commented on #78
Let me know what resolution you come to.

On Mon, Dec 3, 2012 at 12:26 PM, Kilian Ciuffolo
notifications@github.comwrote:

[2012-12-04 10:36] timriot opened #84 "rename the image output directory to "img"... this seems to be the defacto standard."

[2012-12-04 10:37] kilianc commented on #84
where did you get this information?

##

Kilian C.

On Tuesday, December 4, 2012 at 11:36 AM, Tim Riot wrote:

[2012-12-04 10:38] timriot opened #85 "Rename PSD project folder to "{PSDname}_psd""
I feel like this is more clear and will differentiate the output folder from other folder names.

[2012-12-04 10:44] timriot opened #86 "Is the 127 message limit for Kevlar requiring a restart or otherwise causing any extra work for ML?"
Should we get the message limit increased for any reason?

[2012-12-04 10:47] kilianc commented on #86
? nope.

The limit is on the messageId, N {0-127).
PS js server is request/response so there's no concept of parallel message processing per client,
at least in the way I implemented it.

##

Kilian C.

On Tuesday, December 4, 2012 at 11:44 AM, Tim Riot wrote:

[2012-12-04 23:07] timriot commented on #86
Sounds reasonable. Just wanted to check. Thanks for the answer!

[2012-12-04 23:07] #86 closed, assigned to kilianc

[2012-12-04 23:18] timriot commented on #76
Current status on this –

Tom Ruark will be looking for hotspots within the ScriptingSupport.plugin, that might be causing the slowdowns. If there are any places to improve performance within this plugin, any work done will also boost the speed of PS scripts in general. Tom R has also suggested that as a plan B, we might be able to speed up the processing of PSDs by using Action*.access (though th

[2012-12-05 10:57] timriot opened #87 "App wrapper: Set up the capability to target a single PSD, to avoid having to reload the DOM when multiple documents are open in PS"
Only work on this, if it will somehow further our capability to specifically target certain PSDs for asset generation and Live Preview, while avoiding having to reload the DOM each time we switch between targeted and non-targeted PSDs.

[2012-12-05 19:39] timriot opened #88 "consider pngquant library for png output options"
http://pngmini.com/

This library has been mentioned by name and it's output is incredibly tiny, yet high quality.

[2012-12-05 19:40] timriot opened #89 "look into jpegmini for jpg output"
http://www.jpegmini.com/

[2012-12-09 02:05] timriot opened #90 "New output option: spritesheet"
## A spritesheet can be defined in 2 ways _(Would be ideal to support both)_
### 1) Super Easy, which assumes that every layer corresponds to a sprite, ignores groups

[code]
### 2) More complex, but much finer control

[code]

Basically, I'm thinking ML will assume that it's in easy mode unless it finds the .sprite tag within .spritesheet.
## Output
### Stylesheet and corresponding image asset. C

[2012-12-09 02:35] timriot opened #91 "New output option: icon font"
## A iconfont can be defined in 2 ways _(Would be ideal to support both)_
### 1) Super Easy, which assumes that every layer corresponds to a single character, ligature declarations are made by naming layers with full words, ignores groups

[code]
### 2) More complex, but much finer control, ligature declarations are made by naming groups / layers with full words

[code]

ML will assume that it's i

[2012-12-09 02:37] timriot commented on #75
Kilian and Tim are working closely to resolve any issues with the data return format.

[2012-12-09 02:37] #75 closed, assigned to kilianc

[2012-12-14 01:59] timriot commented on #90
I spoke w/Kilian and he (rightly) pointed out that this tagging method is limiting and does not cover the instance where elements would be placed in situ of a layout.

K's proposal is simply:

.spr to denote a sprite for a layer or group

This will be even more natural and unobtrusive to the design process, as well as reinforce the pattern of "if you want it to be something, tag it."

SOLID.

[2012-12-14 10:56] kilianc commented on #90
the "dot" notation doesn't cover the multiple tagging, what if I want to .jpg and .spr a layer?
we can't control what people are going to use tags for…

I suggest to use the multiple tagging and consider the ".jpg/png/gif" including the dot a tag,
and multiple tags can be separated by spaces.

my_awesome layer.pn8 spr

The problem with it is when we omit the asset dump tag, the word "layer" could

[2012-12-20 03:34] timriot opened #92 "Need an intelligent way to deal with layer comps"
I'm thinking that we could do something like this –

If there are no layer comps, output as we are today:

[code]

If layer comps are detected, do this:

[code]

A better idea is welcome!

[2012-12-22 23:19] timriot opened #93 "JSON DOM hint - Store ML JSON object as meta-data within the PSD?"
Would this be a way to potentially improve bootstrap and / or provide a means to introspect into the DOM without PS open? I realize that sync between actual document state and hinted DOM would be a concern, but this capability might have some interesting applications.

Just something to think about

[2013-01-22 22:16] timriot opened #94 "HTML -> PSD"
Check out http://www.pagelayers.com. This is more or less exactly what we have spoken about regarding having ML ingest HTML/CSS to create a base PSD, for a designer to update, then export.

The output appears to be very dumb though, being all image-based. We could create _useful_, _editable_ text / shape / img layers and produce MUCH more useful PSDs.

[2013-01-24 20:09] timriot opened #95 "Another output plug-in variant: UI elements (think buttons)"
http://www.pngexpress.com/

Again, I think we could be way more awesome in our implementation AND offer an extensible solution.

[2013-01-30 07:09] timriot opened #96 "CLI argument to call specific plugins ( --plugs assets html poo )"
This is needed to target specific plugins to use on start up. This is required for us to have different menu items to launch preview browser vs. auto generate assets.

[2013-01-30 07:12] kilianc commented on #96
generator --plugins assets html whatever
generator --no-plugins html

by default everything is up

##

Kilian C.

On Wednesday, January 30, 2013 at 8:09 AM, Tim Riot wrote:

[2013-01-30 09:15] kilianc commented on #96
[code]

[2013-01-30 09:17] #96 closed, assigned to nobody

[2013-01-31 00:02] kilianc opened #97 "./app doesn't read cli arguments"
regression in v0.0.4

[2013-01-31 00:10] #97 closed, assigned to kilianc

[2013-01-31 00:14] kilianc commented on #93
fixed in v0.0.3

[2013-01-31 00:14] #93 closed, assigned to kilianc

[2013-01-31 00:16] kilianc commented on #87
this is something that we still nedd to figure out. is it plug related or generator related? how do I select the PSD if am just using the assets.generate?

[2013-01-31 00:18] kilianc commented on #85
movoed

[2013-01-31 00:18] #85 closed, assigned to kilianc

[2013-01-31 00:18] kilianc commented on #84
moved.

[2013-01-31 00:18] #84 closed, assigned to kilianc

[2013-01-31 00:19] kilianc commented on #81
fixed.

[2013-01-31 00:19] #81 closed, assigned to kilianc

[2013-01-31 00:19] kilianc commented on #78
fixed

[2013-01-31 00:19] #78 closed, assigned to kilianc

[2013-01-31 00:20] kilianc commented on #76
fixed

[2013-01-31 00:20] #76 closed, assigned to kilianc

[2013-01-31 00:20] kilianc commented on #65
done

[2013-01-31 00:20] #65 closed, assigned to kilianc

[2013-01-31 00:23] #6 closed, assigned to kilianc

[2013-01-31 00:23] #7 closed, assigned to timriot

[2013-01-31 00:23] #8 closed, assigned to TomRuark

[2013-01-31 00:23] #10 closed, assigned to TomRuark

[2013-01-31 00:23] #11 closed, assigned to kilianc

[2013-01-31 00:23] #20 closed, assigned to timriot

[2013-01-31 00:24] #39 closed, assigned to timriot

[2013-01-31 00:24] #43 closed, assigned to kilianc

[2013-01-31 00:24] #47 closed, assigned to nobody

[2013-01-31 00:24] #55 closed, assigned to kilianc

[2013-01-31 00:24] #60 closed, assigned to timriot

[2013-01-31 01:06] timriot commented on #79
I agree with you, that if you're in a smart object, but have not commited the change, nothing should be dumped.

-Tim

[2013-01-31 12:41] timriot opened #98 "10000 x 10000 px might be too small for max pixmap bounds"
I just remembered that I think Apple has files with bigger bounds.

I have asked for a sample from them.

Waiting to hear back.

[2013-01-31 13:15] timriot commented on #98
Closing...wrong repo.

[2013-01-31 13:15] #98 closed, assigned to kilianc

[2013-01-31 13:24] timriot commented on #16
Just checked in with Jeffrey again... waiting to hear back

[2013-01-31 13:48] kilianc commented on #16
scheduled for tomorrow, probably we can delegate this, and ask for help

##

Kilian C.

On Thursday, January 31, 2013 at 2:24 PM, Tim Riot wrote:

[2013-02-02 09:20] timriot opened #99 "inter-application communication API"
v1 -  I'm thinking it would be cool to publish events for other applications to subscribe to. Client applications could discover Generator instances, which publish themselves using the name of the document they are connected to, then subscribe to those instances. From then on, the receiving app would be responsible for propagating / resolving any issues on their end. For the first version, this wo

[2013-02-02 10:17] timriot commented on #99
I know that this could _probably_ already be handled by the plugin arch, but I thought I'd ask. ;]

[2013-02-02 21:35] kilianc commented on #99
It depends on how you want to do it.
If we are talking about a multi-transport communication, basically, we just need to propagate what already happens internally.

Each plug will then expose its own events/hooks.

Basically you should be able, through this multiwire.generate plugin, to do http://localhost:76859/assets/dump?layerId=5&output=~/Desktop/layer5.png
Same thing over TCP, and websocket.

[2013-02-15 03:55] timriot opened #100 "BUG: File with no .PSD extension crashes PS when Gen turned on"
I think this is the proper place for this one. Could be Tim Ws.

[2015-10-29 07:35] TPMi commented on #33
How did you make such a nice dump?

[2015-10-29 17:21] kilianc commented on #33
@TPMi an ugly ass dump function that loops through everything :D

[2015-12-08 20:06] urbanstarship commented on #33
Are you willing to share your ugly ass dump function?  I'm writing a plug-in and I'm having a hell of a time figuring out what the full list of layer parameters are...

[2015-12-09 00:08] kilianc commented on #33
@urbanstarship I threw it away but you should try google it out https://forums.adobe.com/thread/1765707?start=0&tstart=0

[2015-12-09 00:08] #33 closed, assigned to TomRuark